

/*color from demo*/
/*#03a9f4*/

.feedback-outer-container {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;

    padding-top: 40px;

    background-color: rgba(0, 0, 0, 0.2);

}

.feedback-main-container,
.feedback-inner-container {
    position: relative;
    border-radius: 6px;
}

.feedback-main-container {

    max-width: 720px;
    width: 100%;
    margin: 0 auto;

    border: 2px solid #357ebd;

    /*background-color: #abd3ee;*/
    /*background-color: #00a1be;*/
    background-color: #c9e6f9;

    /*font-family: 'BentonSans', sans-serif  ;*/

}

.feedback-inner-container {
    padding: 24px;
    background-color: #FFF;

    -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.2);

}

.feedback .pointer {

    position: absolute;
    width: 20px;
    height: 20px;

    left: 50%;
    margin-left: -10px;

    bottom: -10px;

    border-radius: 2px;

    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    background-color: #ffffff;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.2);
    box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.2);

}

.feedback h3 {
    padding: 10px 0 30px 0;
    font-weight: bold;
    font-size: 1.500em;

}

.feedback h4 {
    padding: 5px 0 10px 0;
    font-size: 1.250em;
    font-weight: bold;

}

.feedback h4.emale-header {
    font-size: 1em;
    line-height: 1.25em;
}

.feedback-btn-bar {
    width: 100%;
    padding: 25px 0 25px 0;
    /*background-color: #00a1be;*/
    text-align: center;
}

.feedback-btn-bar .btn {
    float: none;
    max-width: 260px;
    padding: 0;
    line-height: 0;
    margin: 0;
}

.col-xs-12 {
    padding: 0;
}

.rating-group ul,
.rating-group ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;

}

.rating-group ul {
    width: 100%;
    margin-bottom: 40px;
    /*background-color: #f27e61;*/
}

.rating-group ul li {
    width: 20%;
    height: 50px;

}

/* input  ------------------*/

.rating-group label {
    margin: 0;
    padding: 0;
    width: auto;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    width: 100%;
    height: inherit;
}

input[type="radio"] + label span {
    display: inline-block;
    overflow: hidden;
    width: inherit;
    height: inherit;

    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    position: absolute;
    z-index: 0;

    color: #000;

    opacity: 0.73;
    transition: transform 0.1s linear;
}

input[type="radio"] + label span:hover {
    opacity: 1;
    z-index: 10;
    transform: scale(1.1);
}

input[type="radio"]:checked + label span {
    opacity: 1;
    z-index: 20;
    border-radius: 3px;
    transform: scale(1.33);
}

input[type="radio"] + label span.rate-vbad {
    background-color: #ff0000;
}

input[type="radio"] + label span.rate-bad {
    background-color: #ff9600;
}

input[type="radio"] + label span.rate-ok {
    background-color: #fffc00;
}

input[type="radio"] + label span.rate-good {
    background-color: #ccff00;
}

input[type="radio"] + label span.rate-vgood {
    background-color: #3cff00;
}

/*input[type="radio"] + label span.rate-vbad {*/

input[type="radio"] + label span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M17.48 33.26c3.54-5.04 11.5-4.85 15.07.07'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

input[type="radio"] + label span {
    background-repeat: no-repeat;
    background-position: center center;
    /* even num*/
    background-size: 46px;
}

input[type="radio"] + label span.rate-vgood {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M17.67 29.67c3.5 6.3 11.37 6.07 14.87-.1'/%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

input[type="radio"] + label span.rate-good {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M34 30.5c-5.17 4.6-12.58 4.52-17.75.3'/%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

input[type="radio"] + label span.rate-ok {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M16.63 30.06h16.75'/%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

input[type="radio"] + label span.rate-bad {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M34 32.96c-5.17-4.6-12.58-4.5-17.75-.3'/%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

input[type="radio"] + label span.rate-vbad {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' d='M17.67 34.22c3.5-6.32 11.37-6.07 14.87.08'/%3E%3Cellipse fill='none' stroke='%23000' stroke-width='2' stroke-miterlimit='10' cx='25.08' cy='25.92' rx='15.79' ry='15.56'/%3E%3Cpath fill='%23010101' d='M17 22c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm12 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2z'/%3E%3C/svg%3E");
}

.general-close {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='#00a1be' d='M15.2 16.07l-7.4 7.27c-.2.2-.2.53 0 .73.1.1.25.16.38.16.14 0 .27-.05.37-.16L16 16.75l7.42 7.32c.1.1.24.16.38.16s.26-.05.37-.16c.2-.2.2-.52 0-.73l-7.38-7.27 7.37-7.27c.2-.2.2-.53 0-.73-.2-.2-.54-.2-.74 0L16 15.4 8.54 8.07c-.2-.2-.54-.2-.74 0-.2.2-.2.53 0 .73l7.4 7.27z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
}

.feedback-outer-container .general-close {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.7;
    cursor: pointer;
}

.feedback-outer-container .general-close:hover {
    opacity: 1;
}

/* panel-group  ------------------*/

.feedback-accordion h4 {
    padding: 0;

}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    height: 54px;
    padding: 0 0 2px 0;
    margin: 0;
    border-radius: 0;
}

.panel-default > .panel-heading {
    background-color: #f4fcff;
}

.panel-heading h4 {
    border: 1px solid #00a1be;
}

.panel-group {
    border-bottom: 1px solid #00a1be;
    margin-bottom: 24px;
}

/*.h-light .panel-heading h4{*/
    /*border: 1px solid #006683;*/
/*}*/

/*.h-light .panel-group {*/
    /*border-bottom: 1px solid #006683;*/

/*}*/

.panel-body textarea {

    height: 110px;
    width: 100%;
    padding: 10px 14px;
    margin: 0;

    border: 1px solid #00a1be;
    border-bottom: none;

    border-radius: 0;

    /*border-bottom-left-radius:8px ;*/
    /*border-bottom-right-radius:8px ;*/

    resize: none;
    -moz-appearance: none;
    outline: 0 none transparent;
}

.panel-title > a {
    display: block;
    height: inherit;
    vertical-align: top;
    text-decoration: none;
}

.panel-title .accordion-toggle .title {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    padding: 19px 0 0 10px;
    color: #00a1be;
    line-height: 1em;
    font-size: 1.0em;
    font-weight: 500;

}

/* accordion icons  */
.panel-title .accordion-toggle span.icon {
    display: inline-block;
    width: 54px;
    height: 54px;
    padding-top: 4px;
    text-align: center;
    vertical-align: top;
    background-color: #00a1be !important;
}

.accordion-toggle span.ic-env {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg fill='#FFFFFF'%3E%3Cpath d='M25 30.33l-4.62-4.04-13.2 11.3c.48.46 1.12.73 1.84.73h31.96c.7 0 1.36-.27 1.84-.72l-13.2-11.3L25 30.32z'/%3E%3Cpath d='M42.82 12.4c-.48-.46-1.12-.73-1.84-.73H9.02c-.7 0-1.36.27-1.84.72L25 27.66 42.82 12.4zM6.33 14v22.16l12.9-10.95M30.78 25.2l12.9 10.96V14'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 32px;
}

.accordion-toggle span.ic-bug {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='#FFFFFF' d='M29.1 12.28c-.17-.2-.2-.5-.06-.74 1.23-1.98 3.3-3.16 5.5-3.16h2.3c.8 0 .8-1.26 0-1.26-2.2 0-6.18-.5-8.79 3.72-.12.2-.36.27-.56.16-1.6-.86-3.43-.9-5.1 0-.2.1-.43.04-.55-.16-2.48-4-6.1-3.72-8.8-3.72-.78 0-.78 1.26 0 1.26h2.3c3.64 0 6.06 3.22 5.45 3.9-1.3 1.46-1.58 2.94-1.58 4.73 3.5-2.43 7.97-2.43 11.46 0 0-1.75-.25-3.24-1.58-4.72zM41.8 19.5c-5.67-1.98-5.23-2.4-8.98 1.24-.46.44-1.17.4-1.6-.07-3.7-4.25-5.18-1.85-5.18.23v21.38c0 1.33.74 1.77 2.55-.54 1.53-1.97 2.12-2.63 2.84-3.86 1-1.68 3.55-2.37 4.4-.68L38 41.56c.56 1.1 2.13.23 1.57-.88l-2.17-4.36c-.75-1.5-2.36-2.25-3.83-1.93-.28.05-.5-.23-.43-.5 1.2-4.44-.62-4.3 4.66-4.3 1.08 0 3.47 2.76 4.33 3.08.46.18.88-.42.88-.94.02-.52-.53-.7-.9-1.04-.54-.54-3.16-2.87-4.24-2.97-1.4-.13-2.26 0-3.08 0-.57 0-1.05-.47-1.1-1.07-.2-2.5-1.03-3.2.1-4.3 3.32-3.22 2.16-2.92 7.47-1.06 1.1.4 1.67-1.4.55-1.8zM8.4 21.3c5.32-1.86 4.16-2.16 7.5 1.07 1.12 1.1.3 1.8.08 4.3-.05.6-.53 1.06-1.1 1.06-.82 0-1.68-.13-3.08 0-1.08.1-3.7 2.43-4.25 2.97-.36.35-.9.52-.9 1.04s.42 1.12.9.94c.84-.32 3.23-3.07 4.3-3.07 5.3 0 3.46-.14 4.68 4.3.08.27-.16.55-.44.5-1.47-.33-3.1.42-3.84 1.92l-2.17 4.36c-.57 1.1 1 1.98 1.56.9l2.17-4.37c.85-1.7 3.4-1 4.4.68.72 1.23 1.3 1.9 2.85 3.86 1.8 2.3 2.54 1.88 2.54.54V20.9c0-2.08-1.47-4.48-5.2-.23-.4.48-1.1.5-1.57.07-3.75-3.63-3.3-3.22-9-1.23-1.1.4-.55 2.2.56 1.8z'/%3E%3C/svg%3E");
    background-size: 35px;
}

.accordion-toggle span.ic-bulb {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='#FFFFFF' d='M24.6 10.6c-5.52 0-10 4.48-10 10 0 5 5 10.08 5 15h10c0-5.07 5-10 5-15 0-5.52-4.47-10-10-10zm5.3 16.33c-1 1.98-2.03 4-2.5 6.18h-5.6c-.47-2.1-1.47-4.1-2.44-6.05-1.16-2.33-2.25-4.52-2.25-6.44 0-4.13 3.37-7.5 7.5-7.5 4.14 0 7.5 3.37 7.5 7.5 0 1.9-1.07 4.05-2.2 6.33zm-.3 14.93c0 .7-.55 1.25-1.24 1.25h-.23c-.52 1.46-1.9 2.5-3.52 2.5s-3-1.04-3.5-2.5h-.24c-.7 0-1.25-.55-1.25-1.24 0-.7.57-1.25 1.26-1.25h7.5c.7 0 1.25.56 1.25 1.26zm0-3.75c0 .7-.55 1.26-1.24 1.26h-7.5c-.7 0-1.25-.56-1.25-1.25s.57-1.24 1.26-1.24h7.5c.7 0 1.25.55 1.25 1.25zM12.25 12.03l2.25 1.3c-.5.68-.92 1.4-1.27 2.16L11 14.18l1.24-2.16zm12.37-3.9c-.42 0-.83.07-1.24.1V5.6h2.5v2.63c-.42-.04-.82-.13-1.25-.13zm-7.28 2.37l-1.3-2.26L18.2 7l1.28 2.23c-.76.35-1.48.77-2.16 1.26zm18.66 4.98c-.35-.76-.77-1.48-1.26-2.16l2.25-1.3 1.25 2.17-2.24 1.28zm-4.1-5c-.66-.48-1.38-.9-2.15-1.25L31.03 7l2.16 1.24-1.3 2.25zM12.25 21.87H9.6v-2.5h2.63c-.04.4-.12.82-.12 1.25 0 .43.1.84.14 1.26zm27.37-2.5v2.5h-2.63c.05-.42.14-.83.14-1.25 0-.42-.08-.83-.12-1.24h2.63zm-3.65 6.35l2.27 1.32-1.25 2.17-2.04-1.2c.37-.75.7-1.5 1.02-2.3zm-22.7.02c.3.77.65 1.54 1.02 2.3l-2.03 1.17L11 27l2.25-1.3z'/%3E%3Cpath fill='#FFFFFF' d='M23.78 26.67h1.5v7.9h-1.5z'/%3E%3Cpath fill='none' stroke='#FFFFFF' stroke-miterlimit='10' d='M24.5 26.3c2.47 0 4.5-1.87 4.74-4.26h-9.5c.24 2.4 2.26 4.25 4.75 4.25z'/%3E%3C/svg%3E");
    background-size: 36px;
}

.accordion-toggle span.icon {
    background-repeat: no-repeat;
    background-position: center center;
}

/* panel body  */

.panel-group .panel + .panel {
    margin-top: 1px;
}

.panel-group .panel-heading + .panel-collapse .panel-body,
.panel-default, .panel-body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

/*.panel-default, .panel-body{*/
    /*margin-bottom: 9px !important;*/

/*}*/

    /*.panel-default{*/
/*border: 1px solid #dfdfdf;*/
/*}*/

.panel-body textarea:focus {
    outline: 0;
}

.feedback input {
    float: left;
    border: 1px solid #00a1be;
    margin-right: 100%;

}

.feedback input:focus {
    outline: 0;
    border: 1px solid #00a1be;

}

#legal-disclaimer p {
    clear: both;
    padding: 26px 0 0 0;
    font-size: 1em;
    line-height: 1em;
}

#legal-disclaimer p a {
    font-size: 1em;
    font-weight: bold;

}







