#carousel-component {
  width: 100%;
  height: auto;
  padding: $default-padding $default-padding $default-padding * 2 $default-padding;
  background-color: $paper-white;
}

.introduction {
  width: 100%;
  padding-bottom: $default-padding;
}

.item {
  img {
    width: 55%;
    height: auto;
    margin-left: 60px;
  }

  .carousel-caption {
    max-width: 30%;
    left: 75%;
    top: 0;
    right: auto;
    text-shadow: none;
    text-align: left;

    h3 {
      font-family: $benton-lt;
      font-size: 26px;
    }
  }
}

.carousel-indicators {
  width: calc(55% + 120px);
  max-height: 25px;
  left: 0;
  bottom: -40px;
  margin-left: 0;
  padding: 0 60px;
  z-index: 0;

  li {
    width: 12px;
    height: 12px;
    background-color: $grey;
    border: 1px solid $grey;
  }

  .active {
    background-color: $black;
    border: 1px solid $black;
    margin: 1px;
  }
}

.carousel-control {
  background-color: #afafaf;
  height: 60px;
  width: 60px;
  opacity: 1;
  top: calc(50% - 30px);
  text-shadow: none;

  &.right, &.left {
    background-image: none;
  }

  &.right {
    right: auto;
    left: calc(55% + 60px);
  }

  span {
    font-size: 25px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  #carousel-component {
    padding: $default-padding;
  }

  .item {
    img {
      width: 100%;
      margin: 0;
    }

    .carousel-caption {
      position: static;
      max-width: 100%;
      padding-bottom: 60px;
    }
  }

  .carousel-indicators {
    width: 100%;
    z-index: 0;
    bottom: 0;
  }

  .carousel-control {
    top: calc(100% - 60px);

    &.right {
      left: auto;
      right: 0;
    }
  }

}