.accordion.collapsibleText {
  background-color: $aqua;
  h1, h2, h3, h4, h5,
  p, ul, li, a {
    color: $white;
  }
  .container {
    width: 75%;

    .item {
      border: none;
      padding: 0;
      margin: 0;

      .arrow svg {
        width: 16px;
        height: 16px;
        fill: $white;
      }

      a.show-hide {
        color: $white;
        display: none !important;

        &.collapsed {
          display: inline !important;
        }
      }

      .heading {
        padding-bottom: 20px;

        p {
          font-size: 24px;
          line-height: 34px;
          font-family: $benton-lt;
        }

        a {
          color: $white;
        }
      }

      .text {
        padding: 0 0 20px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .accordion.collapsibleText {

    .container {
      width: 100%;
    }
  }
}
