.multi-columns {
  max-width: 100%;
  padding: $default-padding;
  padding-left: $default-padding - 20px;
  background-color: #006890;
  background-image: linear-gradient(to right, #009bbb 50%, #006890 100%);

  .main {
    width: 100%;
    max-width: 1220px;
  }

  .heading {
    padding-left: $default-padding;
  }

  h2, h3, p {
    color: $white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    .tile {
      flex: 0 1 auto;
      width: 25%;
      border-left: 20px solid transparent;
      border-top: 20px solid transparent;
    }
  }
}

.two-column {
  max-width: 100%;
  padding: $default-padding;

  .container {
    display: flex;

    .item-left {
      width: 50%;
      margin-right: $default-padding/2;
    }

    .item-right {
      width: 50%;
      margin-left: $default-padding/2;
    }

    &.larger-left {

      .item-left {
        width: 70%;
      }
      .item-right {
        width: 30%;
      }
    }
    &.larger-right {

      .item-left {
        width: 30%;
      }
      .item-right {
        width: 70%;
      }
    }
  }

  .text-component {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .multi-columns {

    .container {
      flex-wrap: wrap;
      .tile {
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
  }

  .two-column {

    .container {
      flex-wrap: wrap;

      .item-left, .item-right {
        width: 100%;
        margin: 0;
      }

      &.larger-left, &.larger-right, &.even {

        .item-left, .item-right {
          width: 100%;
          margin: 0;
          margin-bottom: $default-padding * 2;
        }
      }

      .item-right{
        margin-top: $default-padding;
      }
    }
  }
}