.numbered-list {
  max-width: 100%;
  padding: $default-padding;
  background-color: $aqua;
  background-image: linear-gradient(to right, $aqua 0%, #006890 25%);

  h1, h2, h3, h4, h5, ul li, p, a {
    color: $white;
  }

  a.button-link {
    color: $aqua;
  }

  .numbered-wrapper {
    list-style: none;
    margin: 0;
  }

  .numbered {
    position: relative;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-right: 33.333%;
    min-height: 60px;

    .float-right {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }
  }

  .numbered:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: $white;
    color: $aqua;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
  }

  @for $i from 1 through 10 {
    .numbered-#{$i}:before {
      content: "#{$i}";
    }
  }
}

@media (max-width: 767px) {
  .numbered-list {

    .numbered {
      padding: 30px 0 0 40px;
    }
    .numbered-wrapper {
      padding: 0;
    }
    .numbered:before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 8px;
    }
    .numbered .float-right {
      position: static;
      margin-top: 20px;
    }
  }
}
