.press-release {

  #press-release-launcher {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: $default-padding/2 $default-padding;
    background-color: $white;
    box-shadow: 0px -2px 5px 0px $grey;
    opacity: 0;
    transition: all 1.5s;

    a {
      color: $dark-aqua;
    }

    .close {
      width: 30px;
      height: 30px;
      margin: 0;
      font-size: 22px;
      color: black;
      opacity: 1;
    }

    .close:hover, .close:active, .close:focus {
      background-color: $paper-white;
      outline: 0;
    }

    &.active {
      opacity: 1 !important;
    }
  }

  h2 {
    font-family: $benton-lt;
    font-size: 20px;
    line-height: 24px;
    color: $dark-aqua;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
  }

  .modal-body {
    display: flex;
    flex-wrap: nowrap;

    p {
      font-size: 14px;
      line-height: 18px;
    }

    #date {
      display: none;
    }

    .content {
      width: 100%;
      max-width: 70%;
    }

    .download-area {
      width: 100%;
      max-width: 30%;
      padding: 10px;
      margin-left: $default-padding;
      border-radius: 6px;
      box-shadow: 2px 3px 10px #888;

      li {
        display: flex;
        align-items: center;
      }

      .icon {
        width: 55px;
        height: 49px;
        min-width: 55px;
      }
    }
  }
}

@media (max-width: 767px) {
  .press-release {

    .launcher {
      bottom: 37px;
    }

    .modal-body {
      flex-wrap: wrap;

      .content, .download-area {
        max-width: 100%;
      }

      .download-area {
        margin: $default-padding 0 0 0;
      }
    }
  }
}