.category-title-container {
  display: flex;
  border-bottom: 1px solid $black;
  margin-bottom: 15px;

  .categories-title {
    flex-grow: 1;
    font-size: 30px;
    color: $aqua;
    padding-bottom: 10px;
  }
}

.certifications-table {

  padding-bottom: $default-padding;

  .certifications-table-titles {
    display: flex;

    .desktop-title-col {
      flex: 1;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .certifications-table-columns {
    display: flex;

    .mobile-tile {
      display: none;
    }

    .col {
      flex: 1;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .category-title-container {

    .categories-title {
      font-size: 24px;
    }

    .mobile-icon {
      display: none;
    }
  }

  .certifications-table {

    .certifications-table-titles {

      .desktop-title-col {
        display: none;
      }
    }

    .certifications-table-columns {

      display: block;
      line-height: 40px;
      margin-bottom: 15px;
      background-color: $paper-white;
      color: black;
      border: 0;
      border-radius: 0;
      padding: 10px;

      .mobile-tile {
        display: block;
        width: 50%;
        float: left;
        font-size: 16px;
        font-weight: 700;
      }

    }

  }

  .amex-enabled-icons {
    display: none;
  }
}