.page-header {
  margin: 0;
  padding: $default-padding/2 $default-padding 0 $default-padding;
  border-bottom: none;

  .document-title {
    font-size: 35px;
    border-bottom: 2px solid $aqua;
  }
}

.document-details {
  margin: $default-padding;

  .container {
    padding: 0 $default-padding $default-padding $default-padding;
    background-color: rgba(234, 235, 235, 0.62);

    .body {
      width: 80%;
      padding: $default-padding/2 0;

    }
  }

}

.kb-documents {
  .tiles {
    padding-top: 0;

    .documents-subtitle {
      font-size: 28px;
    }

    .tile {
      min-height: 140px;
    }

    .tile:hover {
      .tile-icon {
        fill: $white
      }
    }

    .tile-container a {
      padding-bottom: 0;
    }

    .tile-content {
      position: relative;
      padding-bottom: 65px;

      h3 {
        font-family: $benton-lt;
        line-height: 18px;
      }

    }

    .tile-icon {
      fill: $dark-aqua;
      position: absolute;
      bottom: 20px;
      left: 5px;
      height: 35px;
      width: 40px;
    }
  }
}

@media (max-width: 767px) {
  .document-detils {

    .body {
      width: 100%;
    }
  }
}