.knowledge-home {
  .hero {
    min-height: 350px;

    .overlay {
      padding-bottom: 40px;
      min-height: 350px;
    }

    .container {

      flex-wrap: nowrap;
      align-items: flex-end;
    }

    .heading-content-container {
      width: 63%;

      h1 {
        color: $white;
        padding-bottom: 20px;
      }

      .label-container {
        width: 100%;
        margin-bottom: 20px;

        p {
          color: $white;
          padding: 0;
          font-size: 24px;
          font-family: $benton-lt;
        }

        .hero-tagline {
          padding: 0;
          font-size: 24px;
          font-family: $benton-lt;
        }
      }

      .search-container {
        width: 100%;

        form {
          display: flex;

          .search-field {
            width: 100%;
            max-width: 100%;
            height: 50px;
            font-size: 18px;
          }

          .submit-search {
            height: 50px;
          }
          .submit-search svg {
            width: 45px;
          }
        }
      }

      .search-container {
        width: 100%;
        float: left;
      }

      .seperator-container {
        width: 6%;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;

        p {
          line-height: 52px;
          color: $white;
        }
      }

      .button-container {
        width: 32%;
        float: left;

        button {
          width: 100%;
          height: 52px;
          border-radius: 6px;
          background-color: $white;
          color: $aqua;
          font-size: 16px;
          padding: 0;
        }
      }
    }

    .separator {
      width: 7%;
      line-height: 50px;
      font-size: 18px;
      color: $white;
      text-align: center;
    }

    .heading-link-container {
      width: 30%;

      .browse-all-link {
        text-decoration: none;

        .browse-all-container {
          width: 100%;
          background-color: $white;
          height: 50px;
          line-height: 50px;
          padding: 0 12px;
          border-radius: 6px;
          text-align: center;

          &:hover {
            background-color: $dark-aqua;
            color: $white;
          }
        }
      }

    }
  }

  .kb-intro {
    background-color: $aqua;
    background-image: linear-gradient(to right, rgba(0, 161, 190, .8) 0%, rgba(0, 104, 144, .8) 50%);

    h2 {
      font-size: 30px;
      line-height: 36px;
      padding: $default-padding $default-padding 0 $default-padding;
      color: $white;
    }

    h3 {
      font-family: $benton-bd;
      color: $white;
      font-size: 14px;
    }

    .tiles {
      padding: $default-padding/2 $default-padding $default-padding/2 0;

      .tile {
        width: 100%;
        background: none;
        border-left: $default-padding solid transparent;
        border-top: 0;
        min-height: 40px;
      }

      .tile-container {
        width: 100%;
        min-height: 40px;

        a {
          outline: none;
          text-decoration: none;
          margin-bottom: 5px;

          &:hover {
            background-color: $dark-aqua;
          }

          .tile-content {
            padding: 0;
            line-height: 25px;
            background-color: rgba(255, 255, 255, 0.35);
            color: $white;
            min-height: 25px;
            font-size: 20px;
            padding: $default-padding/4 $default-padding/4 $default-padding/4 $default-padding/2;
            display: flex;


            span {
              line-height: 25px;
              margin-right: 5px;

              svg {
                width: 15px;
                height: 15px;
                fill: $white;
              }

            }
            h3 {
              line-height: 25px;
              font-size: 18px;
              font-family: $benton-lt;
            }

          }

        }
      }

    }
  }
}

.my-services {
  width: 100%;
  background-color: $paper-white;
  border-top: 2px solid $white;
  border-bottom: 2px solid $aqua;

  .main {
    max-width: 1220px;
  }

  h2 {
    width: 100%;
  }

  .tiles {

    h3 {
      font-size: 14px;
      font-family: $benton-bd;
      color: $white;
    }

    a {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      padding-bottom: 0;
    }

    .label-container {
      width: 100%;
    }

    .tile {
      width: 16.6%;
      min-height: 140px;
      border-color: $paper-white;
      overflow: hidden;

      .tile-container {
        width: 100%;
        position: relative;
        background-color: $dark-aqua;

        h3 {
          width: 100%;
          padding: 10px;
        }

        .launch-icon {
          position: absolute;
          bottom: 12px;
          right: 10px;
          height: 35px;
          width: 35px;
          transition: all 0.25s linear;
        }

        .launch-button {
          width: 100%;
          height: 5px;
          padding: 0 10px;
          align-self: flex-end;
          background-color: $aqua;
          transition: all 0.25s linear;

          p {
            display: none;
            color: $white;
            font-size: 16px;
          }
        }

        a {
          text-decoration: none;
        }
      }

      .pending {
        background-color: rgba(0, 104, 144, 0.58);

        .pending-approval {
          height: 30px;
          background: none;
          transition: none;
          p {
            display: block;
            font-size: 14px;
          }
        }

      }

      .tile-container:hover {
        .launch-button {
          height: 40px;
          padding: 10px;

          p {
            display: block;
          }
        }

        .launch-icon {
          transform: rotate(45deg);
        }
      }

      .partner-university {
        a {
          cursor: pointer;
        }
      }

      .tile-content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        padding: 0;
      }
    }
  }

  .enroll-tile {
    &.tile {
      .tile-container {
        background-color: $white;
        background-image: none;

        h3 {
          color: $grey;
        }

        .horizontal-rule {
          border-color: $grey;
        }
      }

      .tile-container:hover {
        background-color: $grey;

        h3 {
          color: $white;
        }

        .horizontal-rule {
          border-color: $white;
        }
      }
    }
  }

  .service-tile-modal {
    .form {
      padding: 0;
    }

    .form-control {
      float: initial;
    }

    select {
      margin-bottom: 10px;
    }
  }

}

.kb-search {
  padding: $default-padding;
}

@media (min-width: 768px) and (max-width: 992px) {
  .my-services {
    .tiles {
      .tile {
        width: 25%;
      }
    }
  }
}

@media (max-width: 767px) {

  .knowledge-home {
    .hero {
      min-height: 500px;

      .overlay {
        min-height: 500px;
        position: absolute;
      }

      .container {
        flex-wrap: wrap;
      }

      .heading-content-container {

        width: 100%;
        margin-right: 0;

        .label-container {
          width: 100%;

          .hero-tagline {
            font-size: 20px;

          }
        }

        .button-container {
          width: 100%;
          button {
            text-align: left;
            padding-left: 15px;
          }
        }

      }

      .separator {
        display: none;
      }

      .heading-link-container {

        width: 100%;
        margin-top: 20px;

      }
    }
  }

  .my-services {
    .container h2 {
      padding-left: $default-padding;
    }

    .tiles .tile {
      width: 50%;
      border-left: 20px solid $paper-white;
      border-top: 20px solid $paper-white;
    }
  }
}