.participant-directory-hero {
  .hero {
    .container {
      .heading {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .toolTip {
    height: 25px;
    width: 25px;
    font-size: 18px;
    line-height: 25px;
  }
}

.participant-directory {
  padding: $default-padding;

  h1 {
    margin-bottom: 10px;
  }

  h4 {
    color: $black;
  }

  p, a, ol, ul, li {
    font-family: $benton-lt;
  }

  .sub-title {
    max-width: 600px;
    line-height: 1.4;
  }

  .issuer {
    width: 100%;
  }

  .issuer-name {
    margin: 30px 0 10px 0;
  }

  .issuer-identification_number {
    margin-bottom: 30px;
  }

  .help-container {
    margin-bottom: 20px
  }

  .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .panel {
      width: 49%;
      flex-direction: column;
      border: 1px solid $aqua;;
      border-radius: 0;
      margin-bottom: 20px;

      table {
        width: 100%;

        tbody {
          vertical-align: text-top;
          font-size: 14px;
        }

        tr {
          border-bottom: 1px solid $light-grey;
          &:last-child {
            border: 0;
          }

          td {
            padding: 6px 0;
          }

          td:first-child {
            width: 134px;
            font-weight: bold;
          }
        }

        .address-container span:not(:last-child):after {
          content: ',';
        }
      }

      > .panel-heading {
        background-color: $aqua;
        border-radius: 0;
      }

      &:nth-of-type(even) {
        margin-right: 2%;
      }
    }

    .panel-table-container {
      padding: 6px 15px;
    }
  }

  .accordion {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  h4 {
    max-width: 100%;
  }

  .participant-directory {
    #search label {
      display: none;
    }

    .results {

      .panel {
        width: 100%;

        &:nth-of-type(even) {
          margin-right: 0;
        }
      }
    }
  }
}