button.submit-search {
  border: solid 1px $grey;
  border-radius: 0 6px 6px 0;
  border-left: 0;
  height: 40px;
  background-color: $white;
  margin: 0;

  &:hover, &:focus {
    border-left: 1px;
    background-color: $dark-aqua;
    outline: none;
    svg {
      color: $white;
    }
  }
}

input.search-field {
  -webkit-appearance: none;
   -moz-appearance: none;
  max-width: 350px;
  min-width: 200px;
  border-radius: 6px 0 0 6px;
  border-right: 0;
  background: $white;
  &:focus {
    outline: none;
  }
}

.submit-search, .cancel-search, .search-icon {
  display: flex;
  svg {
    height: 24px;
    width: 24px;
    color: $grey;
    align-self: center;
  }
}

.site-search {
  padding: $default-padding;

  .main-errors {
    padding: 0;
  }
}

#search {
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px 0;

    input, button {
      max-width: 500px;
    }
    a {
      font-family: $benton-md;
      color: $dark-aqua;
      margin-left: 20px;
    }
  }
}

.search-results {

  .hero {
    min-height: 300px;

    .overlay {
      min-height: 300px;
    }

    .container .heading {
      width: 90%;
      max-width: 90%;
    }
  }

  .search-message {
    padding: 10px;
    background-color: $yellow;
  }

  .result {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 0;
    border-bottom: solid 1px $grey;

    &:first-child {
      margin-top: 20px;
      border-top: solid 1px $grey;
    }

    h2 {
      padding-bottom: 0;
      a {
        font-size: 24px;
        line-height: 30px;
        color: $dark-aqua;
      }
    }

    .search-category {
      font-size: 14px;
      color: $dark-aqua;
    }

    .icon, .date {
      width: 100px;
    }

    .date {
      text-align: end;

      .new-tag {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: $white;
        background: #3f9c35;
        padding: 0 4px;
        border-radius: 4px;
      }
    }

    .details {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      .description {
        flex: 1 1 auto;
      }
    }
  }
}

.kb-results {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;

  .side-bar {
    width: 30%;
    min-width: 250px;

    .facets {
      margin-right: 20px;
      background-color: $paper-white;
      border-left: 5px solid $dark-aqua;
      padding: 10px;

      .heading {
        font-family: $benton-rg;
        font-size: 18px;
        line-height: 22px;
        color: $black;
        padding-bottom: 10px;
      }

      .facet-list {
        padding: 0;

        & > ul {
          padding: 0;
        }
      }

      .facet-list > li a {
        color: $dark-aqua;
        font-family: $benton-bd;
        padding-bottom: 10px;
      }
    }

    .accent {
      font-family: $benton-bd;
      font-size: 16px;
    }

    ul {
      list-style: none;

      label {
        display: inline-block;
        padding: 5px 0;
        color: $dark-aqua;
        font-size: 14px;
      }

      label:hover {
        cursor: pointer;
        color: #23527c;
        text-decoration: underline;
      }

      input[type=checkbox] {
        position: static;
        height: initial;
        width: initial;
        right: 0;
        float: left;
        margin-right: 5px;
      }

      input:hover {
        cursor: pointer;
      }

    }
  }

  .main-results {
    width: 70%;

    .result:first-child {
      margin-top: 0;
    }
  }
}

.facet-message {
  display: none;
}

@media (max-width: 767px) {

  .search-results {
    .result {
      .icon {
        width: 65px;
      }

      .details {
        flex-wrap: wrap;

        .description {
          width: 100%;
        }
      }
    }
  }

  .kb-results {
    .side-bar {
      display: none;
    }

    .main-results {
      width: 100%;
    }
  }

  .facet-message {
    display: block;
  }
}