.service-enrolment-page {
  padding: 0 $default-padding;

  button {
    margin: 0;
  }
}

.service-enrolment-title {
  color: $aqua;
  font-size: 40px;
  margin: 15px 0;
  padding: 0;
}

.serviceEnrolmentForm {

  .form-intro-content {
    margin-bottom: $default-padding;

    p {
      display: inline;
    }

    a {
      cursor: pointer;
    }

    .contact-info {
      padding: $default-padding 0 0 0;

      p {
        font-size: 16px;
      }
    }
  }

  .expandable-sections {

    padding: 0;

    .panel {
      margin: 0 0 20px 0;
    }
  }

  .user-stages-breadcrumb {
    height: 25PX;
    border: 1px solid rgba(0, 0, 0, 0.14);
    width: 100%;
    border-radius: 5px;
  }

  .collapsed {
    background-color: $aqua;
    transition: none;

    .service-enroll-button.button-collapsed {
      background-color: $white;
      color: $aqua;
      transition: background-color 200ms linear;
    }
  }

  .item-heading {
    display: flex;
    padding: 5px 0;

    .panel-title {
      flex-grow: 1;

      .accordion-icon {
        transition: none;
      }
    }

    .service-enroll-button {
      margin-right: 5px;
      background-color: $aqua;
      color: $white;
      transition: background-color 200ms linear;
    }
  }

  .expanded {
    background-color: $white;
  }

  .item-body {

    width: 80%;

    .service-overview {

      p {
        font-size: 16px;
      }

      a {
        font-size: 16px;
        &:focus {
          outline: none;
        }
      }
    }

    .service-detailed-title {
      font-weight: 600;
      font-size: 14px;
      margin-top: 25px;
    }

    .service-detailed-description {
      font-size: 16px;

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .serviceEnrolmentForm {

    .expandable-sections {

      .panel {

        .item-heading {
          display: block;

          a {

            .indicator {
              margin-right: 5px;
            }
          }

          .service-enroll-button {
            margin: 10px 0 15px 15px;
          }
        }
      }
    }

    .item-body {
      width: 100%;
    }
  }
}