.notice {
  padding: 10px $default-padding 10px $default-padding;
  background-color: $yellow;
}

.portal-sign-in {
  padding: $default-padding;

  .main {

    h1 {
      color: $aqua;
    }

    .container {
      display: flex;
      position: relative;
      margin-top: $default-padding;
    }

  }

  label, input {
    width: 100%;
  }

  .submit-signin {
    padding-top: 20px;

    a {
      color: $dark-aqua;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cta-item:last-child {
    max-width: 700px;
  }

  .submit-signin, .register-button {
    a.button-link, button {
      width: 50%;
      margin: 50px auto 20px auto;
      min-width: 250px;
    }
  }
}

@media (min-width: 768px) {
  .portal-sign-in {
    .cta-item:first-child {
      padding-right: 50px;
      border-right: 1px solid $grey;
    }

    .cta-item:last-child {
      padding-left: 50px;
    }
  }
}

@media (max-width: 767px) {

  .portal-sign-in {

    .container {
      flex-wrap: wrap;
    }

    .cta-item:last-child {
      margin-top: 20px;
    }
  }
}