.user-profile {
  margin: $default-padding;

  .flex-container {
    flex-wrap: nowrap;
  }

  .flex-item {
    flex: initial;
  }

  .user-profile-sidebar {
    width: 15%;
    margin-right: 5%;
    min-width: 180px;
  }

  .user-profile-picture {
    min-height: 100px;
    margin-bottom: 20px;
    text-align: center;
  }

  .info-tabs {
    width: 100%;
    display: block;
    background-color: $paper-white;
    color: $black;
    text-align: left;
    border-left: 10px solid $aqua;
    border-radius: 0;
    margin-bottom: 5px;
  }

  button {
    margin-top: 0;
  }

  .tabActive{
    border-left-color: transparent;
  }

  .user-profile-main {
    width: 80%;
  }

  .user-profile-form {
    label {
      display: block;
    }

    input {
      float: none;
    }
  }

  .form-validation-message {

    .profile-error-message {
      color: $error-red;
      font-size: 18px;
    }

  }

  .button-container {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {

  .user-profile {
    .flex-container {
      flex-wrap: wrap;
    }

    .user-profile-sidebar {
      width: 100%;
      margin-right: 0;
    }

    .user-profile-picture {
      width: 100%;
    }

    .user-profile-main {
      width: 100%;
    }

    .info-tabs {
      width: 100%;
    }
  }
}