#site-footer {
  padding: $default-padding;
  padding-bottom: 120px;
  background-color: $paper-white;

  ul.single-links {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        font-family: $benton-md;
        color: $dark-grey;
      }
    }

    &.t-and-c {
      font-family: $benton-rg;
    }
  }

  .container {
    padding: 10px 0 20px 0;

    .footer-section {
      padding: 0 15px 0 15px;
    }

    .footer-section:first-child {
      padding-left: 0;
    }

    .footer-section:last-child {
      padding-right: 0;
    }

    .footer-subsection {
      li:first-child a,
      li:first-child p {
        color: $dark-grey;
        font-family: $benton-md;
      }
    }

    ul {
      list-style: none;
      padding: 10px 0;
      flex-grow: 1;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      width: 24%;
      margin: 0 1% 0 0;
      &:last-child {
        margin-right: 0;
      }

      li {
        line-height: 28px;
      }
    }

    a {
      font-family: $benton-rg;
      color: $dark-grey;
    }
  }

  .regulatory {
    padding: 30px 0;

    p {
      font-size: 14px;
      color: $grey;
    }
  }
}

@media (max-width: 767px) {
  #site-footer {

    ul.single-links {

      li {
        display: block;
        line-height: 28px;

      }
    }

    .container {

      .flex-item {
        width: 100%;
      }
      ul {
        width: 100%;
        margin: 10px 0;
        border-bottom: none;
      }
    }
  }
}