/* Amex standard styling set out in iGuide
** https://iguide.americanexpress.com/site/index */

// Core fonts
$sans-serifs: Arial, Helvetica, Sans-Serif;

$benton-rg: BentonSans, $sans-serifs;
$benton-bd: BentonSans-Bd, $sans-serifs;
$benton-bk: BentonSans-Bk, $sans-serifs;
$benton-lt: BentonSans-Lt, $sans-serifs;
$benton-md: BentonSans-Md, $sans-serifs;

// Primary Colors
$black: #222222;
$grey: #8b8d8e;
$light-grey: #adafaf;
$dark-grey: #4d4f53;
$white: #ffffff;
$paper-white: #eaebeb;
$core-blue: #002663;
$feedback-blue: #003676;
$feedback-green: #3F9C35;
$aqua: #00a1be;
$dark-aqua: #006890;
$purple: #77216f;
$yellow: #f3cf45;
$orange: #ed5929;
$error-red: #B90000;

// Fonts
@font-face {
  font-family: 'BentonSans';
  src: url("//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot");
  src: local("Benton Sans Regular"),
  url("//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-2.eot?") format("embedded-opentype"),
  url("//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-3.woff") format("woff"),
  url("//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-1.ttf") format("truetype"),
  url("//www.aexp-static.com/nav/ngn/fonts/3be50273-0b2e-4aef-ae68-882eacd611f9-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BentonSans-Bd';
  src: url("//www.aexp-static.com/nav/ngn/fonts/342cdec0-7d5d-43a9-84bf-8a77730526ee-2.eot");
  src: local("Benton Sans Bold"),
  url("//www.aexp-static.com/nav/ngn/fonts/342cdec0-7d5d-43a9-84bf-8a77730526ee-2.eot?") format("embedded-opentype"),
  url("//www.aexp-static.com/nav/ngn/fonts/342cdec0-7d5d-43a9-84bf-8a77730526ee-3.woff") format("woff"),
  url("//www.aexp-static.com/nav/ngn/fonts/342cdec0-7d5d-43a9-84bf-8a77730526ee-1.ttf") format("truetype"),
  url("//www.aexp-static.com/nav/ngn/fonts/342cdec0-7d5d-43a9-84bf-8a77730526ee-4.svg#web") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'BentonSans-Bk';
  src: url("//www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-2.eot");
  src: local("Benton Sans Book"),
  url("//www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-2.eot?") format("embedded-opentype"),
  url("//www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-3.woff") format("woff"),
  url("//www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-1.ttf") format("truetype"),
  url("//www.aexp-static.com/nav/ngn/fonts/325e6ad0-38fb-4bad-861c-d965eab101d5-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BentonSans-Lt';
  src: url("//www.aexp-static.com/nav/ngn/fonts/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-2.eot");
  src: local("Benton Sans Light"),
  url("//www.aexp-static.com/nav/ngn/fonts/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-2.eot?") format("embedded-opentype"),
  url("//www.aexp-static.com/nav/ngn/fonts/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-3.woff") format("woff"),
  url("//www.aexp-static.com/nav/ngn/fonts/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-1.ttf") format("truetype"),
  url("//www.aexp-static.com/nav/ngn/fonts/481b5db4-48a0-4c43-ae8b-fd1a0b7cb481-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BentonSans-Md';
  src: url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot");
  src: local("Benton Sans Medium"),
  url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot?") format("embedded-opentype"),
  url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-3.woff") format("woff"),
  url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-1.ttf") format("truetype"),
  url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-4.svg#web") format("svg");
  font-style: normal;
  font-weight: bold;
}